$bh-colour-light: rgb(121, 36, 133); // #792485
$bh-colour-dark: rgb(87, 21, 97);
$team-cyan: #36aeff;
$team-magenta: #ff41e5;

$light-mode-text: black;
$night-mode-text: #DDD;

/********************************************************************/

@font-face
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), local('Montserrat-Regular'), url(/resources/fonts/montserrat-regular.ttf) format('woff');
}

@font-face
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat'), local('Montserrat-Bold'), url(/resources/fonts/montserrat-bold.ttf) format('woff');
}

/********************************************************************/

::-webkit-scrollbar
{
  height: 12px;
  width: 12px;
  background: rgba(black, 0.15);
  -webkit-border-radius: 3px;

  html.night-mode &
  {
    background: rgba(black, 0.4);
  }
}

::-webkit-scrollbar-thumb
{
  background: rgba(white, 0.8);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: inset 0 0 2px rgba(black, 1);

  html.night-mode &
  {
    background: rgba(white, 0.2);
  }
}

/********************************************************************/

html, body, input, select, button
{
  font-family: Montserrat, sans-serif;
  font-size: 13px;
}

button + button
{
  margin-left: 3px;
}

html.initialised
{
  transition: background-color 0.2s linear;
}

body
{
  margin: 8px;
}

@media screen and (max-width: 640px) {
  body
  {
    margin: 8px 0;
  }

  button
  {
    font-size: 1.4em;
  }
}

button
{
  background: #aaa;
  border: 0;
  border-top: 1px solid rgba(white, 0.5);
  border-bottom: 1px solid rgba(black, 0.1);
  padding: 3px 7px;
  border-radius: 3px;

  html.night-mode &
  {
    color: $night-mode-text;
    background: rgba(80, 80, 80, 0.8);
    border-top: 1px solid rgba(white, 0.1);
    border-bottom: 1px solid rgba(black, 0.1);
  }
}

select
{
  background: #aaa;
  border: 0;
  border-top: 1px solid rgba(white, 0.5);
  border-bottom: 1px solid rgba(black, 0.1);
  border-radius: 3px;
  min-height: 23px;

  html.night-mode &
  {
    background: rgba(80, 80, 80, 0.8);
    color: $night-mode-text;
    border-top: 1px solid rgba(white, 0.1);
    border-bottom: 1px solid rgba(black, 0.1);
  }
}

input[type="text"],
input[type="number"]
{
  background: #eee;
  border: 0;
  border-top: 1px solid rgba(black, 0.1);
  border-bottom: 1px solid rgba(white, 0.5);
  border-radius: 3px;
  min-height: 23px;
  padding: 0 5px;
  box-sizing: border-box;

  html.night-mode &
  {
    background: $night-mode-text;
    border-top: 1px solid rgba(white, 0.1);
    border-bottom: 1px solid rgba(black, 0.1);
  }
}

input[type="color"]
{
  background-color: #aaa;
  border: none;
  padding: 4px;
  width: 38px;

  html.night-mode &
  {
    background-color: #444;
  }
}

div.setting.control input[type="color"]
{
  margin-top: 4px;
}

/********************************************************************/

#loading-indicator
{
  width: 185px;
  background-color: rgba(black, 0.1);
  position: absolute;
  margin: -35px auto 0 -92px;
  top: 50%;
  left: 50%;

  html.night-mode &
  {
    background-color: rgba(white, 0.1);
  }

  h1
  {
    width: 185px;
    line-height: 70px;
    font-size: 20px;
    color: rgba(black, 0.5);
    text-align: center;

    html.night-mode &
    {
      color: rgba(white, 0.5);
    }
  }
}

#bouncer
{
  background-color: $bh-colour-light;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  animation-name: bouncer-animation;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes bouncer-animation
{
  0%
  {
    left: 0;
  }
  100%
  {
    left: 169px;
  }
}

/********************************************************************/

div#header
{
  img#logo
  {
    display: inline-block;
  }

  div#header-content
  {
    display: inline-block;
    vertical-align: top;
    margin: 6px;

    h1
    {
      margin: 0;
      color: #000;

      html.night-mode &
      {
        color: #eee;
      }
    }

    h2
    {
      margin: 0;
      color: $bh-colour-light;
      font-weight: normal;
    }

    div#connections
    {
      margin-top: 12px;
    }

    div.indicators
    {
      display: inline-block;
      vertical-align: middle;
    }

    a.disconnect
    {
      text-decoration: none;
      display: none;
    }

    &:hover a.disconnect
    {
      display: inline-block;
      vertical-align: middle;
    }
  }

  div#header-module-links
  {
    position: absolute;
    right: 14px;
    top: 14px;
    left: 300px;
    text-align: right;

    > a.module-button
    {
      display: inline-block;
      margin: 2px;
      padding: 5px;
      background-color: #ddd;
      color: #444;
      text-decoration: none;
      transition: background-color 0.4s linear;

      html.night-mode &
      {
        background-color: rgba(white, 0.15);
        color: #bbb;
      }
    }

    > a.module-button.added
    {
      color: #fff;
      background-color: rgba($bh-colour-light, 0.7);
      border-bottom: 1px solid $bh-colour-light;
    }
  }
}

@media screen and (max-width: 640px) {
  #header
  {
    min-height: 130px;
  }

  div#header-content
  {
    display: none;
  }

  div#header-module-links
  {
    top: 6px;
    left: 110px;
    right: 1%;
  }
}

/********************************************************************/

div.indicator
{
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  vertical-align: baseline;
  border: 0;
  box-sizing: border-box;
  transition: background-color 0.5s linear;

  &.error { background-color: red; }

  &.role
  {
    &.Striker { background-color: purple; }
    &.Keeper { background-color: white; }
    &.Supporter { background-color: green; }
  }

  &.status
  {
    &.Penalised { background-color: red; }
    &.Inactive { background-color: rgba(black, 0.2); }
    &.Active { background-color: rgba(0, 200, 0, 0.3); }
    &.Unknown { border: 1px solid rgba(black, 0.5); }
  }

  &.play-mode
  {
    &.Initial { background-color: black; }
    &.Ready { background-color: blue; }
    &.Set { background-color: yellow; }
    &.Playing { background-color: rgba(0, 200, 0, 0.5); }
    &.Finished { background-color: white; }
  }

  &.ball
  {
    &.visible { background-color: #FF4F26; }
    &.invisible { border: 1px solid rgba(#FF4F26, 0.5); }
  }

  &.goal.visible { background-color: yellow; }
}

/********************************************************************/

svg .axis
{
  path,
  line
  {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  text
  {
    font-family: sans-serif;
    font-size: 11px;
  }
}

/********************************************************************/

div#module-container
{
  padding: 0;

  div.module
  {
    box-sizing: content-box;
    width: 640px;
    min-height: 80px;
    display: inline-block;
    vertical-align: top;
    background: linear-gradient(to bottom, rgba(black, 0.15) 0, rgba(black, 0.2) 12px);
    border-radius: 3px 3px 12px 12px;
    padding: 12px;
    margin: 6px;
    cursor: move;

    html.night-mode &
    {
      background: rgba(white, 0.1);
      border-bottom: 1px solid #000;
      border-top: 1px solid rgba(white, 0.2);
    }

    &.full-screen
    {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: default;
      background-color: #fff;
      box-sizing: border-box;
      margin: 0;
      border-radius: 0;
      z-index: 1;
      display: table;

      html.night-mode & { background: #0A0208; }
    }

    h1
    {
      margin: 0 0 12px 0;
      font-size: 16px;
      /*font-weight: normal;*/
      color: $bh-colour-dark;
      text-transform: uppercase;

      html.night-mode &
      {
        color: #999;
      }
    }

    h2
    {
      margin: 0 0 4px 0;
      font-size: 12px;
      font-weight: normal;

      html.night-mode &
      {
        color: #bbb;
      }
    }

    hr
    {
      border: none;
      border-bottom: 1px dotted #aaa;

      html.night-mode &
      {
        border: none;
        border-bottom: 1px dotted #444;
      }
    }

    > div.module-content
    {
      position: relative;
      min-height: 32px;
      cursor: default;
      width: 100%;
      height: 100%;
    }

    > div.module-header
    {
      position: relative;
      height: 24px;
      border-bottom: 1px dotted rgba($bh-colour-dark, 0.4);
      margin-bottom: 10px;

      > div.module-header-links
      {
        position: absolute;
        right: 2px;
        top: 0;

        > a
        {
          text-decoration: none;
          margin-left: 12px;

          &:hover
          {
            text-decoration: underline;
          }
        }
      }
    }

    &.full-screen > div.module-header
    {
      display: table-row;

      > div.module-header-links
      {
        margin: 10px;
      }
    }

    div.module-column-3
    {
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      width: 200px;
    }
  }
}

@media screen and (max-width: 640px) {
  div.module
  {
    width: 98%;
    margin: 6px 1%;
    box-sizing: border-box;
  }
}

/********************************************************************/

.control-container
{
  .control
  {
    display: block;
  }

  &.flow
  {
    .control
    {
      width: 100px;
      display: inline-block;
      margin: 2px 6px 2px 0;

      h3, label
      {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      select
      {
        max-width: 100px;
      }

      input[type="number"]
      {
        width: 95px;
      }

      label
      {
        display: inline-block;
        width: 80px;
      }
    }
  }

  &.column .control input[type="text"],
  &.column .control input[type="number"]
  {
    min-width: 80px;
  }
}

/********************************************************************/

div.map-layer-container > canvas
{
  position: absolute;
}

div.map-layer-checkboxes
{
  margin: 4px 0 4px -3px;
}

/********************************************************************/

ul.legend
{
  list-style: none;
  float: right;
  margin: 4px 0;
  padding: 0;

  > li
  {
    display: inline-block;

    > div.tile
    {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-left: 1em;
      margin-right: 4px;
    }

    > div.label
    {
      display: inline-block;
    }
  }
}

/********************************************************************/

div.checkbox
{
  input[type="checkbox"]
  {
    display: inline-block;
    vertical-align: middle;
  }

  label
  {
    display: inline-block;
    vertical-align: middle;
  }
}

/********************************************************************/

.pixel-labels .control
{
  width: 155px;
  margin: 0 16px 16px 0;
}

.hsv-range-editor
{
  background-color: rgba(white, 0.5);
  padding-bottom: 3px;

  .channel-row
  {
    text-align: center;

    span
    {
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      text-align: center;
      font-size: 13px;
      line-height: 16px;
    }

    input[type="text"]
    {
      width: 34px !important;
      text-align: center;
      margin: 2px 4px;
      display: inline-block;
      vertical-align: middle;
      border: none;
      padding: 3px;
    }
  }

  h3
  {
    color: #333;
    text-align: center;
    font-size: 13px;
    text-shadow: 0 0 5px white;
    padding: 2px;
    margin: 0 0 3px;
  }
}

/********************************************************************/

.connection-indicator
{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin: 3px;
  transition: background-color 0.5s linear;

  &.disconnected { background-color: red; }
  &.connecting { background-color: orange; }
  &.connected { background-color: green; }
}

/********************************************************************/

// TODO review distinction between 'control' and 'setting'

.control
{
  display: inline-block;
}

div.setting
{
  > h3,
  label
  {
    font-weight: normal;
    margin: 0;
    font-size: 11px;
    letter-spacing: -0.1em;
  }

  span.value-range,
  span.default-value
  {
    color: #666;
  }
}

/********************************************************************/

div.head-controls
{
  display: inline-block;
  margin-left: -2px;
}

/********************************************************************/

div.module.camera
{
  div.hover-pixel-info
  {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 5px;
    pointer-events: none;
  }

  canvas.camera-canvas
  {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }

  div.image-container
  {
    position: relative;
  }

  div.camera-module-controls h3
  {
    display: none;
  }

  canvas.pixel-label-inspector
  {
    margin: 16px 0;
  }

  div.label-teacher-controls
  {
    border-top: 1px dotted #AAA;
    margin-top: 9px;
    padding-top: 3px;

    html.night-mode & { border-color: #444; }
  }

  &.full-screen
  {
    div.module-content
    {
      text-align: center;
    }

    div.camera-module-controls.control-container
    {
      margin-top: 6px;
    }
  }
}

@media screen and (max-width: 640px) {
  div.module.camera canvas.camera-canvas
  {
    width: 100% !important;
  }
}

/********************************************************************/

dl.tab-control
{
  display: none;
}

div.tab-control
{
  ul.thumbs
  {
    list-style: none;
    padding: 0;
    margin-bottom: 12px;
    border-bottom: 1px solid #444;

    li
    {
      display: inline-block;
      padding: 4px 10px;
      margin: 0 5px 0 0;
      color: #555;
      border: 1px solid #888;
      border-bottom: none;
      border-radius: 5px 5px 0 0;
      background: rgba(black, 0.1);

      &.selected
      {
        font-weight: bold;
        background: rgba(white, 0.1);
        color: #000;
        border-color: #444;
        border-bottom: 1px solid #CBCBCB;
        position: relative;
        bottom: -1px;
      }
    }
  }
}

/********************************************************************/

div.module.vision
{
  div.module-content h2
  {
    color: #555;
    margin: 4px 0;
    display: block;
  }

  div.control-container.camera-settings .setting
  {
    .values
    {
      color: #666;
      font-size: 10px;
    }

    input[type=text],
    input[type=number],
    select
    {
      width: 170px;
      box-sizing: border-box;
    }
  }

  div.image-colours.flow div.setting.control
  {
    width: 65px;
  }
}

/********************************************************************/

div.module.walk
{
  div.module-content h2
  {
    color: #444;
    margin: 12px 0 6px;
    display: block;
    font-size: 13px;
  }

  div.connection-indicator
  {
    text-align: center;
    line-height: 20px;
  }

  canvas.radar
  {
    display: inline-block;
    vertical-align: top;
  }

  div.status-legend
  {
    margin-top: 8px;
  }

  div.chart-container
  {
    display: inline-block;
    width: 440px;
  }
}

/********************************************************************/

div.module.fsr
{
  .module-content
  {
    text-align: center;

    .trace-container
    {
      display: inline-block;
      position: relative;

      + .trace-container
      {
        margin-left: 20px;
      }
    }
  }
}

/********************************************************************/

div.module.game
{
  div.play-mode
  {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    width: 120px;
    border: 1px solid rgba(black, 0.4);
    border-radius: 4px;
    text-align: center;

    &.Initial { background-color: #CCC; }
    &.Ready { background-color: #00F; color: #FFF; }
    &.Set { background-color: #FF0; }
    &.Playing { background-color: #0F0; }
    &.Finished { background-color: #444; color: #FFF; }
  }

  div.period
  {
    margin-top: 10px;
    margin-right: 6px;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 6px;
    background: #FFF;
    color: #000;

    &.timeout
    {
      background: #00F;
      color: #FFF;
    }

    &.penalties
    {
      background: #00F;
      color: #FFF;
    }
  }

  ul.penalties
  {
    list-style: none;
    padding: 0;
    margin: 0;

    li
    {
      width: 160px;
      background-color: rgba(128, 0, 0, 0.1);
      border: 1px solid rgba(128, 0, 0, 0.3);
      border-radius: 4px;
      text-align: center;
      margin-bottom: 4px;
      padding: 0 12px;

      &.done
      {
        background-color: rgba(yellow, 0.2);
      }

      div.title
      {
        margin-top: 6px;
      }

      div.time
      {
        margin-bottom: 6px;
        color: #555;
      }
    }
  }

  div.time-remaining
  {
    margin-top: 22px;

    span.secondary { color: #444; }
  }

  div.score
  {
    font-size: 32px;
    color: #444;
    font-weight: bold;
    margin-bottom: 18px;
  }
}

/********************************************************************/

div.module.localiser
{
  div.control-container.localiser-controls > div:nth-child(1)
  {
    display: block;
  }

  div.marker
  {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 3px;
    border: 1px solid;

    &.visible
    {
      width: 0;
      height: 0;
      border-width: 10px;
    }

    &.ball { border-color: red; }
    &.goal { border-color: yellow; }
  }
}

/********************************************************************/

div.module.log
{
  div.scroll-container
  {
      padding: 4px;
      padding-left: 6px;
      margin: 10px 0 0;
      border-radius: 3px;
      background: #000;
      min-height: 80px;
      max-height: 480px;
      overflow-y: auto;

    > ul.log-messages
    {
      list-style: none;
      padding: 0;
      margin: 0;

      > li
      {
        padding: 1px 0;
        -webkit-animation: fade-in 0.4s;
        animation: fade-in 0.4s;
        opacity: 1;

        &.level-4 { color: #F00; }
        &.level-3 { color: #F0F; }
        &.level-2 { color: #EEE; }
        &.level-1 { color: #888; }

        &:hover
        {
          background-color: #222;
        }

        > span
        {
          background-color: #444;
          padding: 0 3px;
          border-radius: 3px;
          margin-right: 3px;
          margin-left: -2px;
        }
      }
    }
  }
}

@-webkit-keyframes fade-in
{
  from { opacity: 0 }
  to   { opacity: 1 }
}

@keyframes fade-in
{
  from { opacity: 0 }
  to   { opacity: 1 }
}

/********************************************************************/

div.module.imu
{
  .polar-trace-container
  {
    display: inline-block;
    position: relative;

    + .polar-trace-container
    {
      margin-left: 20px;
    }
  }
}

/********************************************************************/

div.module.orientation
{
  canvas
  {
    float: left;
  }

  div.controls
  {
    clear: both;
  }
}

/********************************************************************/

div.module.state
{
  .json-text
  {
    white-space: pre;
    font-family: Ubuntu Mono, consolas, monospace;
    font-size: 11px;
    max-height: 800px; // scroll if over this size
  }

  > div.module-content
  {
    height: 456px;
    overflow: auto;
  }
}

/********************************************************************/

div.module.config
{
  > div.module-content
  {
    height: inherit;
  }

  input.filter
  {
    float: right;
    width: 200px;
    position: relative;
    top: -6px;
  }

  div.tab-control > div
  {
    max-height: 400px;
    overflow: auto;
  }

  .json-text
  {
    white-space: pre;
    font-family: Ubuntu Mono, consolas, monospace;
    font-size: 11px;
  }

  span.readonly-setting-value
  {
    min-width: 120px;
    display: inline-block;
    text-align: right;
    box-sizing: border-box;
    padding-right: 20px;
  }

  ul
  {
    padding: 0;
  }

  li > div.setting.control
  {
    min-width: 120px;
    display: inline-block;
    vertical-align: middle;

    input[type='number']
    {
      width: 120px;
      box-sizing: border-box;
      text-align: right;
      padding-right: 5px;
    }

    input[type='text']
    {
      width: 120px;
      box-sizing: border-box;
      text-align: right;
      padding-right: 5px;
    }

    input[type='checkbox']
    {
      float: right;
      margin-right: 0;
    }

    input[type='color']
    {
      float: right;
      margin-right: 0;
    }

    select
    {
      min-width: 120px;
      margin: 0;
    }
  }

  li > span.path
  {
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  li > span.description
  {
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    color: #777;
  }

  li > button
  {
    min-width: 190px;
    display: inline-block;
    vertical-align: middle;
  }
}

/********************************************************************/

table.timing-details
{
  border-collapse: collapse;

  tr
  {
    &:hover
    {
      background: rgba(black, 0.1);
    }

    td
    {
      min-width: 60px;

      &.expander
      {
        width: 16px;
        min-width: 16px;
      }

      &.duration,
      &.avg-duration,
      &.max-duration
      {
        text-align: right;
        padding-left: 1em;
        font-family: Ubuntu Mono, Consolas, monospace;
      }

      &.path span.ancestry
      {
        color: lighten($light-mode-text, 40%);
        html.night-mode & { color: darken($night-mode-text, 50%); }
      }

      &.path span.separator
      {
        margin: 0 3px;
        color: lighten($light-mode-text, 70%);
        html.night-mode & { color: darken($night-mode-text, 70%); }
      }

      &.path span.leaf
      {
        color: darken($bh-colour-dark, 5%);
        html.night-mode & { color: desaturate(lighten($bh-colour-dark, 10%), 40%); }
      }
    }

    &.parent td.expander
    {
      background: url(/resources/images/sprite-arrows.png);
    }

    &.parent.expanded td.expander
    {
      background-position: 0 16px;
    }
  }
}

/*******************************************************************/

div.body-figure
{
  position: absolute;
  top: 20px;
  right: 0;

  div.joint
  {
    color: #000;
    position: absolute;
    border: 1px dotted grey;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    transition: background-color 0.4s linear;
  }

  div.selected
  {
    border: 1px dotted grey;
    background-color: $bh-colour-light;
    color: white;
  }
}

/*******************************************************************/

div.module.think-timing,
div.module.motion-timing
{
  div.fps
  {
    float: right;
    margin-left: 10px;
  }

  a.reset
  {
    float: right;
  }
}

/*******************************************************************/

div.module.optiontree
{
  ul.options
  {
    margin: 10px 0 0;
    border-top: 1px dotted rgba(black, 0.2);
    padding: 8px 0 0;

    li
    {
      margin: 1px 0;
      padding: 1px 1px 1px 10px;
      list-style: circle inside;
      border-radius: 2px;
      background-color: transparent;
      transition: background-color 1s linear, color 1s linear;

      &.ran
      {
        background-color: yellow;
        list-style-type: disc;

        html.night-mode & { color: #000; }
      }
    }
  }

  div.graph
  {
    margin-top: 16px;

    svg
    {
      width: 100%;

      g.element rect
      {
        transition: fill 1s linear;
      }

      g.element.active rect
      {
        transition: fill 0s linear;
        fill: yellow;
      }

      g.link
      {
        path.connection
        {
          transition: stroke-width 1s linear, stroke 1s linear;
          stroke-width: 1;

          html.night-mode & { stroke: $night-mode-text; }
        }

        &.active path.connection
        {
          transition: stroke-width 0s linear, stroke 0s linear;
          stroke-width: 5;
          stroke: $bh-colour-light;
        }

        html.night-mode & text { fill: #fff; }

        html.night-mode & path.marker-source,
        html.night-mode & path.marker-target
        {
          stroke: $night-mode-text;
          fill: $night-mode-text;
        }
      }

      g.link-tools,
      g.marker-arrowheads
      {
        display: none;
      }
    }
  }
}

/*******************************************************************/

div.module.histogram
{
  min-height: 60px;
}

/*******************************************************************/

div.module.motion-scripts
{
  min-height: 60px;

  div.motion-script-controls
  {
    margin-top: 6px;
  }

  button.rare
  {
    display: none;
  }

  div.show-all button.rare
  {
    display: inline-block;
  }

  button
  {
    margin: 0 3px 4px 0;
  }
}

@media screen and (max-width: 640px) {
  div.module.motion-scripts button
  {
    margin: 0 3px 4px 0;
    padding: 6px 6px;
    font-size: 15px;
  }
}

/*******************************************************************/

div.module.load div.module-content
{
  min-height: 345px;
}

/*******************************************************************/

div.module.trajectory
{
  div.body-figure
  {
    top: 0;
    margin-top: 25px;
  }

  canvas
  {
    background-color: #000;
  }

  button.record
  {
    margin: 0 3px 4px 0;
    padding: 2px 6px;
    font-size: 13px;

    &.recording { border-color: red; }
  }

  div.hover-value
  {
    position: fixed;
    color: #FFF;
    margin: 5px;
  }
}

/*******************************************************************/

div.module.agent-2d
{
  .hover-info
  {
    float: right;
    text-align: right;
  }

  div.localiser-controls
  {
    display: inline-block;
  }
}

/*******************************************************************/

div.module.voice
{
  div.control-container + div.control-container
  {
    margin-top: 14px;
  }

  div.control-container.flow .setting.control
  {
    width: 125px;
  }
}

/*******************************************************************/

div.module.world-2d
{
  .localiser-controls
  {
    display: inline-block;
    margin-left: 8px;
  }

  .hover-info
  {
    float: right;
  }
}

/*******************************************************************/

div.module.team
{
  table
  {
    border-collapse: collapse;
    overflow: auto;
  }

  td
  {
    padding: 2px 4px;
  }

  table th,
  table td
  {
    width: 125px;
  }

  tr td:first-child
  {
    font-weight: bold;
  }

  tr.unum td
  {
    font-size: 30px;
    font-weight: bold;
  }

  td.teammate
  {
    background-color: rgba(43, 65, 206, 0.2);
  }

  td.teammate.me
  {
    background-color: rgba(43, 65, 206, 0.3);
  }

  td.opponent
  {
    background-color: rgba(206, 44, 73, 0.30);
  }

  td.old
  {
    color: rgba(80, 0, 0, 0.4)
  }
}

/*******************************************************************/

div.module.drawbridge
{
  div.player-tile
  {
    display: inline-block;
    background: rgba(black, 0.15);
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 6px;
    width: 640px;
    box-sizing: border-box;

    html.night-mode & { background: rgba(white, 0.05); }

    header
    {
      width: 100%;
      position: relative;

      div.unum
      {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 24px;
        border-radius: 3px;
        margin-right: 8px;

        html.night-mode & { color: #000; }
      }

      h1
      {
        display: inline-block;
        text-transform: none;
        line-height: 30px;
        font-size: 18px;

        span.host
        {
          color: #555;
          font-weight: normal;

          html.night-mode & { color: #777; }
        }
      }

      span.maxTemp
      {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 30px;
        font-size: 18px;
        font-weight: bold
      }
    }

    span.title
    {
      color: #555;
      display: inline-block;
      min-width: 80px;

      html.night-mode &
      {
        color: #777;
      }
    }

    span.note
    {
      color: #555;
      font-size: 0.8em;

      html.night-mode &
      {
        color: #777;
      }
    }

    div.unum
    {
      &.team-colour-1 { background-color: $team-cyan; }
      &.team-colour-2 { background-color: $team-magenta; }
    }
  }

  &.full-screen
  {
    div.player-tile
    {
      width: 600px;
      box-sizing: border-box;
      margin-right: 6px;

      html.night-mode & { background: rgba(white, 0.15); }
    }
  }
}

/*******************************************************************/

div.module.animator
{
  div.module-content:focus
  {
    outline: none;
  }

  div.timeline-container
  {
    white-space: nowrap;
    overflow-x: auto;
  }

  ul.joint-names
  {
    color: #333;

    html.night-mode & { color: #777; }
  }

  ul.joint-names,
  ul.stages,
  ul.gains,
  ul.key-frames,
  ul.values
  {
    display: inline-block;
    list-style: none;
    padding: 0;
  }

  li.stage,
  li.key-frame
  {
    display: inline-block;
  }

  ul.joint-names
  {
    width: 145px;
    padding-left: 6px;
  }

  ul.values > li
  {
    width: 60px;
  }

  ul.gains > li
  {
    width: 40px;
  }

  ul.values > li,
  ul.gains > li
  {
    text-align: center;

    > input
    {
      width: 100%;
      height: 23px;
      margin: 0;
      box-sizing: border-box;
      text-align: center;
      color: #FFF;
      background: rgba(140, 162, 252, 0.5);
      border: none;
      border-top: 1px solid rgba(black, 0.2);
      border-bottom: 1px solid rgba(white, 0.2);
      border-radius: 10.5px;
    }
  }

  li.stage
  {
    margin-left: 4px;
  }

  ul.joint-names,
  ul.gains,
  ul.values
  {
    border: none;
    margin: 0 1px 0 0;
    border-radius: 2px;
    background: rgba(black, 0.1);
    border-top: 1px solid rgba(white, 0.5);
    border-bottom: 1px solid rgba(black, 0.2);

    > li
    {
      height: 25px;
      line-height: 25px;
      /*text-align: left;*/
    }
  }

  div.module-content:focus li.focussed
  {
    outline: -webkit-focus-ring-color auto 5px;
  }

  input.invalid
  {
    outline: solid 1px red;
  }
}

/********************************************************************/

html.night-mode
{
  background: #0A0208;
  color: #bbb;

  a,
  a:visited
  {
    color: #8B9DFF;
  }
}
